includeConfig 'configs/schedulers.config'

process {
  
    withLabel:process_idx {
        cpus   = { 6 }
        memory = { 30.GB }
    }

    withLabel:process_tx2gene {
        cpus   = { 1 }
        memory = { 8.GB }
    }

    withLabel:process_quant {
        cpus   = { 6 }
        memory = { 25.GB }
    }

    withLabel:process_tximport {
        cpus   = { 1 }
        memory = { 16.GB }
    }

}


profiles {
  
    local {
        docker.enabled          = false
        singularity.enabled     = false
        conda.enabled           = false
    }

    docker {
          docker.enabled        = true        
    }

    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
    }

    conda {
        conda.enabled           = true
    }

    test {

        process {
  
            withLabel:process_idx {
                cpus   = { 1 }
                memory = { 1.GB }
            }

            withLabel:process_tx2gene {
                cpus   = { 1 }
                memory = { 1.GB }
            }

            withLabel:process_quant {
                cpus   = { 1 }
                memory = { 1.GB }
            }

            withLabel:process_tximport {
                cpus   = { 1 }
                memory = { 1.GB }
            }
        }
    }
}
