params.publishdir_mode  = 'rellink'

params.mode             = 'paired'
params.ref_txtome       = ''
params.ref_genome       = ''
params.ref_gtf          = ''

params.fastq            = ''

// indexing
params.idx              = ''
params.idx_name         = 'salmonIDX'
params.idx_threads      = 32
params.idx_mem          = "40.GB"
params.idx_additional   = ''
params.idx_dir          = "$launchDir/index/"
params.transcript_id    = 'transcript_id'
params.transcript_name  = 'transcript_name'
params.gene_id          = 'gene_id'
params.gene_name        = 'gene_name'
params.gene_type        = 'gene_type'

// trimming
params.trim             = false
params.trim_dir         = './trimmed/'
params.trim_additional  = ''
params.trim_dir         = "${launchDir}/fastq_trimmed/"
params.adapter_seq      = 'AGATCGGAAGAGC'
params.trim_threads     = 4
params.trim_mem         = "4.GB"

// quantification
params.skip_quant       = false
params.quant_threads    = 1
params.quant_mem        = "20G"
params.quant_additional = ''
params.quant_libtype    = 'A'
params.quant_dir        = "${launchDir}/salmon_quants"

// tximport
params.skip_tximport        = false
params.tx2gene              = ''
params.tximport_dir         = "${launchDir}/tximport/"
params.tximport_mem         = "4.GB" // increase if reading large inferential replicate matrices

// cluster submission
params.queue            = 'normal'          // SLURM queue on our HPC
params.clusteroptions   = '--time=12:00:00' // other arguments when submitting to a cluster:

//------------------------------------------------------------------------------------------

profiles {

    test_paired {

        params.ref_txtome       = "$baseDir/test/txtome.fa.gz"
        params.ref_genome       = "$baseDir/test/genome.fa.gz"
        params.ref_gtf          = "$baseDir/test/annot.gtf.gz"
        params.fastq            = "$baseDir/test/*_{1,2}.fastq.gz"
        params.idx_threads      = 1
        params.idx_mem          = '1G'
        params.trim_threads     = 1
        params.trim_mem         = "1G"
        params.quant_threads    = 1
        params.quant_mem        = "1G"
        params.mode             = 'paired'

    }

    test_single {

        params.ref_txtome       = "$baseDir/test/txtome.fa.gz"
        params.ref_genome       = "$baseDir/test/genome.fa.gz"
        params.ref_gtf          = "$baseDir/test/annot.gtf.gz"
        params.fastq            = "$baseDir/test/*.fastq.gz"
        params.idx_threads      = 1
        params.idx_mem          = '1G'
        params.trim_threads     = 1
        params.trim_mem         = "1G"
        params.quant_threads    = 1
        params.quant_mem        = "1G"
        params.mode             = 'single'

    }

    test_idx {

        params.ref_txtome       = "$baseDir/test/txtome.fa.gz"
        params.ref_genome       = "$baseDir/test/genome.fa.gz"
        params.ref_gtf          = "$baseDir/test/annot.gtf.gz"
        params.fastq            = ''
        params.idx_threads      = 1
        params.idx_mem          = '1G'
        params.skip_quant       = true

    }

    // Environment/Containers
    params.container            = 'atpoint/rnaseq_preprocess:v1.2.0'

    local {
        docker.enabled          = false
        singularity.enabled     = false
        conda.enabled           = false
    }

    docker {
        process.container       = params.container
        docker.enabled          = true        
    }

    singularity {
        process.container       = "docker://${params.container}"
        singularity.enabled     = true
        singularity.autoMounts  = true
    }

    conda {
        process.conda           = "${baseDir}/environment.yml"
        conda.enabled           = true
    }

    slurm {
        process.executor        = 'slurm'
        process.queue           = params.queue
        process.clusterOptions  = "${params.clusteroptions}"
    }

}

//------------------------------------------------------------------------------------------
