includeConfig 'configs/schedulers.config'

process {

   shell = ['/bin/bash', '-euo', 'pipefail']
  
    withLabel:process_idx {
        cpus   = { 6 }
        memory = { 30.GB }
    }

    withLabel:process_tx2gene {
        cpus   = { 1 }
        memory = { 8.GB }
    }

    withLabel:process_quant {
        cpus   = { 6 }
        memory = { 30.GB }
    }

    withLabel:process_tximport {
        cpus   = { 1 }
        memory = { 16.GB }
    }

    withLabel:process_multiqc {
        cpus   = { 1 }
        memory = { 8.GB }
    }

}


profiles {
  
    local {
        docker.enabled          = false
        singularity.enabled     = false
        conda.enabled           = false
    }

    docker {
          docker.enabled        = true        
    }

    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
    } 
    
    apptainer {
        apptainer.enabled     = true
        apptainer.autoMounts  = true
    } 

    podman {
        podman.enabled        = true        
    }

    conda {
        conda.enabled           = true
    }

    test_resources {

        process {
  
            withLabel:process_idx {
                cpus   = { 1 }
                memory = { 1.GB }
            }

            withLabel:process_tx2gene {
                cpus   = { 1 }
                memory = { 1.GB }
            }

            withLabel:process_quant {
                cpus   = { 1 }
                memory = { 1.GB }
            }

            withLabel:process_tximport {
                cpus   = { 1 }
                memory = { 1.GB }
            }

            withLabel:process_multiqc {
                cpus   = { 1 }
                memory = { 1.GB }
            }
        }
    }

    test_with_new_idx {

        params.samplesheet = "$baseDir/test/samplesheet.csv"
        params.txtome      = "$baseDir/test/txtome.fa.gz"
        params.genome      = "$baseDir/test/genome.fa.gz"
        params.gtf         = "$baseDir/test/annot.gtf.gz"
        params.quant_additional = ''
                
    }

    test_with_existing_idx {

        params.samplesheet = "$baseDir/test/samplesheet.csv"
        params.idx         = "$baseDir/test/index/idx"
        params.tx2gene     = "$baseDir/test/index/tx2gene.txt"
        params.quant_additional = ''
                
    }
}
